@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

nav {
  width: 550px;
  height: 70px;
  padding-left: 30px;
  box-shadow: 0px 2.98256px 7.4564px rgba(218, 85, 85, 0.1);
  display: flex;
  align-items: center;
}

.nav-logo {
  max-width: 100px;
}

.section {
  display: flex;
  flex-direction: column;
  max-width: 550px;
  padding-top: 10px;
}

.photo-grid {
  max-width: 400px;
  margin: auto;
}

.titulo {
  padding-left: 30px;
  padding-top: 20px;
}

.paragrafo {
  padding-left: 36px;
  font-size: 16px;
  font-weight: 300px;
  line-height: 17.6px;
  margin-top: -5px;
}

.card-list {
  display: flex;
  margin-left: 37px;
  gap: 20px;
}
.card {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
  max-width: 176px;
  font-size: 10px;
  font-weight: 300;
  line-height: 0px;
  position: relative;
}
.card-photo {
  max-width: 176px;
  border-radius: 9px;
}
.card-rating {
  display: flex;
  align-items: center;
}
.card--star {
  width: 10px;
  height: 10px;
}

.card-badge {
  position: absolute;
  top: 8px;
  left: 6px;
  width: 80px;
  background-color: white;
  padding: 10px 8px;
  border-radius: 2px;
  font-weight: bold;
}
