@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Inter, sans-serif;
  height: 100vh;
  background-color: #282d35;
}

nav {
  display: flex;
  align-items: center;
  background-color: #21222a;
  height: 90px;
  padding: 30px 15px;
}
.nav-logo_text,
.nav-title {
  margin: 0;
}
.nav-logo_text {
  margin-right: auto;
  color: #61dafb;
  font-weight: 700;
  font-size: 22px;
}
.nav-title {
  color: #deebf8;
  font-weight: 600;
  margin-left: auto;
}
.nav-icon {
  height: 30px;
  margin-right: 5px;
  margin-left: 7x;
}

main {
  padding: 57px 27px;
  color: white;
}
.main-title {
  margin: 0;
  font-size: 39px;
  letter-spacing: -0.05em;
}
.main-facts {
  margin-top: 46px;
  max-width: 400px;
}
.main-facts > li {
  line-height: 19px;
  padding-block: 10px;
}

.main-facts > li::marker {
  font-size: 1.4rem;
  color: #61dafb;
}

main {
  padding: 57px 27px;
  color: white;
  background-image: url("/public/images/logo-react-back.png");
  background-repeat: no-repeat;
  background-position: right 75%;
  background-size: 150px;
}
